#### Set 1

In [1]:
import pandas as pd
import random

In [2]:
data=[random.randint(0, 100) for iter in range(10)]

In [3]:
df=pd.Series(data=data)
df

0    41
1    98
2    20
3    34
4    84
5    13
6    73
7    18
8    64
9     5
dtype: int64

In [4]:
print('Mean: ', df.mean())

Mean:  45.0

In [5]:
print('Standard Dev: ',df.std())

Standard Dev:  32.642848459586915

In [6]:
print('Min: ', df.min())

Min:  5

In [7]:
print('25th Percentile', df.quantile(q=0.25))

25th Percentile 18.5

In [8]:
print('Median: ', df.quantile(q=0.5))

Median:  37.5

In [9]:
print('75th Percentile', df.quantile(q=0.75))

75th Percentile 70.75

In [10]:
print('Max: ', df.max())

Max:  98

#### Set 2

In [11]:
import pandas as pd

In [12]:
attributes=['name','state', 'color', 'food', 'age', 'height', 'score']

inputs=[['Jane','NY','blue', 'Steak',30,165,4.6],
['Niko','TX','green', 'Lamb',2,70,8.3],
['Aaron','FL','red', 'Mango',12,120,9.0],
['Penelope','AL','white', 'Apple',4,80,3.3],
['Dean','AK','gray', 'Cheese',32,180,1.8],
['Christina','TX','black', 'Melon',33,172,9.5],
['Cornelia','TX','red', 'Beans',69,150,2.2]]

In [13]:
df=pd.DataFrame(data=inputs,columns=attributes)
print(df)

        name state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
3   Penelope    AL  white   Apple    4      80    3.3
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2

In [14]:
print(df.head(3))

    name state  color   food  age  height  score
0   Jane    NY   blue  Steak   30     165    4.6
1   Niko    TX  green   Lamb    2      70    8.3
2  Aaron    FL    red  Mango   12     120    9.0

In [15]:
print(df.tail(3))

        name state  color    food  age  height  score
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2

In [16]:
print(len(df.index))
print(len(df.columns))

7
7

In [17]:
print(df['age'].mean())
print(df['height'].mean())
print(df['score'].mean())

26.0
133.85714285714286
5.528571428571429

In [18]:
print(df['age'].std())
print(df['height'].std())
print(df['score'].std())

23.115651263447745
44.69313359428035
3.3245121374994184

In [19]:
print(df['state'])
print(df['score'])

0    NY
1    TX
2    FL
3    AL
4    AK
5    TX
6    TX
Name: state, dtype: object
0    4.6
1    8.3
2    9.0
3    3.3
4    1.8
5    9.5
6    2.2
Name: score, dtype: float64

In [20]:
print(df[df['score']>5])

        name state  color   food  age  height  score
1       Niko    TX  green   Lamb    2      70    8.3
2      Aaron    FL    red  Mango   12     120    9.0
5  Christina    TX  black  Melon   33     172    9.5

In [21]:
print(df[df['height']<150])

       name state  color   food  age  height  score
1      Niko    TX  green   Lamb    2      70    8.3
2     Aaron    FL    red  Mango   12     120    9.0
3  Penelope    AL  white  Apple    4      80    3.3

In [22]:
print(df[(df['age']>10) & (df['age']<40)])

        name state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
2      Aaron    FL    red   Mango   12     120    9.0
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5

In [23]:
print(df[(df['age']>20) & (df['score']<5)])

       name state color    food  age  height  score
0      Jane    NY  blue   Steak   30     165    4.6
4      Dean    AK  gray  Cheese   32     180    1.8
6  Cornelia    TX   red   Beans   69     150    2.2

In [24]:
print(df.sort_values(['name'],ascending=True))

        name state  color    food  age  height  score
2      Aaron    FL    red   Mango   12     120    9.0
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2
4       Dean    AK   gray  Cheese   32     180    1.8
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
3   Penelope    AL  white   Apple    4      80    3.3

In [25]:
print(df.sort_values(['score'],ascending=True))

        name state  color    food  age  height  score
4       Dean    AK   gray  Cheese   32     180    1.8
6   Cornelia    TX    red   Beans   69     150    2.2
3   Penelope    AL  white   Apple    4      80    3.3
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
5  Christina    TX  black   Melon   33     172    9.5

In [26]:
df.to_csv('test.csv',sep='\t')